<footer class="site-footer clearfix">
    <div class="footer-social">
      <ul class="footer-social-links">
        <li>
          <a href="https://github.com/katheesh" target="_blank">Github</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/katheeskumar/" target="_blank">LinkedIn</a>
        </li>
        <li>
          <a href="https://dev.to/katheesh" target="_blank">DEV</a>
        </li>
        <li>
          <a href="https://www.twitter.com/iKatheesh" target="_blank">Twitter</a>
        </li>
        <li>
          <a href="https://www.instagram.com/iKatheesh" target="_blank">Instagram</a>
        </li>
      </ul>
    </div>
        
    <div class="footer-copyrights">
      <p>Katheeskumar © {{year}} All rights reserved.</p>
    </div>
</footer>
