<header id="site_header" class="header">
    <div class="header-content clearfix">
          
      <!-- Text Logo -->
      <div class="text-logo">
        <a routerLink="">
          <div class="logo-symbol" style="background-image: url(./assets/img/mine.png); background-size: contain;"></div>
          <div class="logo-text">Kathees<span>kumar</span></div>
        </a>
      </div>
      <!-- /Text Logo -->

      <!-- Navigation -->
      <div class="site-nav mobile-menu-hide">
        <ul class="leven-classic-menu site-main-menu">
          <li class="menu-item">
            <a routerLink="/">Home</a>
          </li>
          <li class="menu-item">
            <a routerLink="/resume">Resume</a>
          </li>
          <li class="menu-item">
            <a routerLink="/portfolio">Portfolio</a>
          </li>
          <li class="menu-item">
            <a routerLink="/blog">Blog</a>
          </li>
          <li class="menu-item">
            <a routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>

      <!-- Mobile Menu Toggle -->
      <a class="menu-toggle mobile-visible">
        <i class="fa fa-bars"></i>
      </a>
      <!-- Mobile Menu Toggle -->
    </div>
</header>
