<div class="page-scroll">
    <div id="page_container" class="page-container bg-move-effect animated transition-flip-in-right" data-animation="transition-flip-in-right">

        <!-- Header -->
        <menubar></menubar>
        <!-- /Header -->

        <div id="main" class="site-main">
            <div id="main-content" class="single-page-content">
            <div id="primary" class="content-area">

                <div class="page-title">
                <h1>Contact</h1>
                <div class="page-subtitle">
                    <h4> Get in Touch</h4>
                </div>
                </div>

                <div id="content" class="page-content site-content single-post" role="main">

                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                    <div id="map" class="map"></div>
                    </div>
                </div>

                <div class="row">
                    <div class=" col-xs-12 col-sm-4 ">
                        
                    <div id="info_list_1" class="info-list-w-icon">

                        <div class="info-block-w-icon">
                        <div class="ci-icon">
                            <i class="linecons linecons-phone"></i>
                        </div>
                        <div class="ci-text">
                            <h4>Temporarily unavailable</h4>
                            <p>Direct call unavailable at the movement</p>
                        </div>
                        </div>

                        <div class="info-block-w-icon">
                        <div class="ci-icon">
                            <i class="linecons linecons-location"></i>
                        </div>
                        <div class="ci-text">
                            <h4>Mandapathady</h4>
                            <p>Kannankudah, Batticaloa, Sri Lanka!</p>
                        </div>
                        </div>
                        
                        <div class="info-block-w-icon">
                        <div class="ci-icon">
                            <i class="linecons linecons-mail"></i>
                        </div>
                        <div class="ci-text">
                            <h4><a href="mailto:ikatheesh@gmail.com" class="__cf_email__">katheeskumar@outlook.com</a></h4>
                            <p>Send me your query anytime!</p>
                        </div>
                        </div>
                    </div>

                    </div>


                    <div class=" col-xs-12 col-sm-8 ">

                    <div class="block-title">
                        <h2>How Can I Help You?</h2>
                    </div>

                    <form id="contact_form" class="contact-form" action="" method="post" novalidate="true">

                        <div class="messages"></div>

                        <div class="controls two-columns">
                        <div class="fields clearfix">
                            <div class="left-column">
                            <div class="form-group form-group-with-icon">
                                <input id="form_name" type="text" name="name" class="form-control" disabled placeholder="Full Name" required="required" data-error="Name is required.">
                                <div class="form-control-border"></div>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group form-group-with-icon">
                                <input id="form_email" type="email" name="email" class="form-control" disabled placeholder="Email Address" required="required" data-error="Valid email is required.">
                                <div class="form-control-border"></div>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group form-group-with-icon">
                                <input id="form_name" type="text" name="subject" class="form-control" disabled  placeholder="Subject" required="required" data-error="Subject is required.">
                                <div class="form-control-border"></div>
                                <div class="help-block with-errors"></div>
                            </div>
                            </div>
                            <div class="right-column">
                            <div class="form-group form-group-with-icon">
                                <textarea id="form_message" name="message" class="form-control" disabled placeholder="Message" rows="7" required="required" data-error="Please, leave me a message."></textarea>
                                <div class="form-control-border"></div>
                                <div class="help-block with-errors"></div>
                            </div>
                            </div>
                        </div>

                        <input type="submit" class="button btn-send disabled" value="Send message">
                        </div>
                    </form>

                    </div>


                </div>

                </div>
            </div>
            </div>
        </div>

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- /Footer -->

    </div>
</div>
