<div class="page-scroll">
    <div id="page_container" class="page-container bg-move-effect" data-animation="transition-flip-in-right">

        <!-- Header -->
        <menubar></menubar>
        <!-- /Header -->

        <div id="main" class="site-main">
            <div id="main-content" class="single-page-content">
            <div id="primary" class="content-area">

                <div class="page-title">
                <h1>Portfolio</h1>
                <div class="page-subtitle">
                    <h4> My Works</h4>
                </div>
                </div>

                <div id="content" class="page-content site-content single-post" role="main">

                <div class="row">
                    <div class=" col-xs-12 col-sm-12 ">
                        
                        <h2>Under Construction</h2>
                        <!-- <div id="portfolio_content_q" class="portfolio-content">

                            <ul class="portfolio-filters">
                            <li class="active">
                                <a class="filter btn btn-sm btn-link" data-group="category_all">All</a>
                            </li>
                            
                            <li>
                                <a class="filter btn btn-sm btn-link" data-group="category_detailed">Detailed</a>
                            </li>
                            
                            <li>
                                <a class="filter btn btn-sm btn-link" data-group="category_direct-url">Direct URL</a>
                            </li>
                            
                            <li>
                                <a class="filter btn btn-sm btn-link" data-group="category_image">Image</a>
                            </li>
                            
                            <li>
                                <a class="filter btn btn-sm btn-link" data-group="category_soundcloud">SoundCloud</a>
                            </li>

                            <li>
                                <a class="filter btn btn-sm btn-link" data-group="category_video">Video</a>
                            </li>
                            
                            <li>
                                <a class="filter btn btn-sm btn-link" data-group="category_vimeo-video">Vimeo Video</a>
                            </li>
                            
                            <li>
                                <a class="filter btn btn-sm btn-link" data-group="category_youtube-video">YouTube Video</a>
                            </li>
                            </ul>
             
                            <div class="portfolio-grid four-columns shuffle">
 
                            <figure class="item standard" data-groups='["category_all", "category_detailed"]'>
                                <div class="portfolio-item-img">
                                <img src="https://via.placeholder.com/150" alt="Full Project 2" title="" />
                                <a href="portfolio-project-2.html" class="ajax-page-load"></a>
                                </div>

                                <i class="far fa-file-alt"></i>
                                <h4 class="name">Full Project 2</h4>
                                <span class="category">Detailed</span>
                            </figure> 
 
                            <figure class="item lbvideo" data-groups='["category_all", "category_video", "category_youtube-video"]'>
                                <div class="portfolio-item-img">
                                    <img src="https://via.placeholder.com/150" alt="YouTube Video 2" title="" />
                                    <a href="../../../../www.youtube.com/embed/F-1weFCiYBA.html" class="lightbox mfp-iframe" title="YouTube Video 2"></a>
                                </div>

                                <i class="fab fa-youtube"></i>
                                <h4 class="name">YouTube Video 2</h4>
                                <span class="category">Video, YouTube Video</span>
                            </figure> 

                            <figure class="item lbimage" data-groups='["category_all", "category_image"]'>
                                <div class="portfolio-item-img">
                                <img src="https://via.placeholder.com/150" alt="Image 2" title="" />
                                <a class="lightbox" title="Image 2" href="https://via.placeholder.com/150"></a>
                                </div>

                                <i class="fa fa-image"></i>
                                <h4 class="name">Image 2</h4>
                                <span class="category">Image</span>
                            </figure> 

                            <figure class="item lbaudio" data-groups='["category_all", "category_soundcloud"]'>
                                <div class="portfolio-item-img">
                                <img src="https://via.placeholder.com/150" alt="SoundCloud Audio 1" title="" />
                                <a href="../../../../w.soundcloud.com/player/index79d2.html?url=https%3A//api.soundcloud.com/tracks/221650664&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true" class="lightbox mfp-iframe" title="SoundCloud Audio 1"></a>
                                </div>

                                <i class="fas fa-volume-up"></i>
                                <h4 class="name">SoundCloud Audio 1</h4>
                                <span class="category">SoundCloud</span>
                            </figure>
                            
                            <figure class="item lbvideo" data-groups='["category_all", "category_video", "category_youtube-video"]'>
                                <div class="portfolio-item-img">
                                <img src="https://via.placeholder.com/150" alt="YouTube Video 1" title="" />
                                <a href="../../../../www.youtube.com/embed/ZK8REu-8pGw.html" class="lightbox mfp-iframe" title="YouTube Video 1"></a>
                                </div>

                                <i class="fab fa-youtube"></i>
                                <h4 class="name">YouTube Video 1</h4>
                                <span class="category">Video, YouTube Video</span>
                            </figure>
                            
                            <figure class="item standard" data-groups='["category_all", "category_detailed"]'>
                                <div class="portfolio-item-img">
                                <img src="https://via.placeholder.com/150" alt="Full Project 1" title="" />
                                <a href="portfolio-project-1.html" class="ajax-page-load"></a>
                                </div>

                                <i class="far fa-file-alt"></i>
                                <h4 class="name">Full Project 1</h4>
                                <span class="category">Detailed</span>
                            </figure>
                            
                            <figure class="item direct" data-groups='["category_all", "category_direct-url"]'>
                                <div class="portfolio-item-img">
                                <img src="https://via.placeholder.com/150" alt="Direct URL" title="" />
                                <a target="_blank" href="../../../../themeforest.net/user/lmpixels/portfolio.html"></a>
                                </div>

                                <i class="fa fa-link"></i>
                                <h4 class="name">Direct URL</h4>
                                <span class="category">Direct URL</span>
                            </figure>
                            
                            <figure class="item lbimage" data-groups='["category_all", "category_image"]'>
                                <div class="portfolio-item-img">
                                <img src="https://via.placeholder.com/150" alt="Image 1" title="" />
                                <a class="lightbox" title="Image 1" href="https://via.placeholder.com/150"></a>
                                </div>

                                <i class="fa fa-image"></i>
                                <h4 class="name">Image 1</h4>
                                <span class="category">Image</span>
                            </figure>

                            </div>
                            
                        </div> -->
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- /Footer -->

    </div>
</div>

