<div class="page-scroll">
    <div id="page_container" class="page-container bg-move-effect" data-animation="transition-flip-in-right">

        <!-- Header -->
        <menubar></menubar>
        <!-- /Header -->

        <div id="main" class="site-main">
            <div id="main-content" class="single-page-content">
            <div id="primary" class="content-area">

                <div class="page-title">
                <h1>Resume</h1>
                <div class="page-subtitle">
                    <h4> 4.5 Years of Experience</h4>
                </div>
                </div>

                <div id="content" class="page-content site-content single-post" role="main">
                <div class="row">

                    <div class=" col-xs-12 col-sm-6 ">
                    <div class="block-title">
                        <h2>Education</h2>
                    </div>

                    <div id="timeline_1" class="timeline clearfix">
                        <div class="timeline-item clearfix">
                            <h5 class="item-period ">April 2018 - October 2020</h5>
                            <span class="item-company">Advance Technological Institute, Batticaloa, Sri Lanka</span>
                            <h4 class="item-title">HIGHER NATIONAL DIPLOMA IN INFORMATION TECHNOLOGY</h4>
                            <p>2 Years</p>
                        </div>

                        <div class="timeline-item clearfix">
                            <h5 class="item-period ">Jan 2016 - Dec 2017</h5>
                            <span class="item-company">National Vocational Institute, Vantharumoolai, Batticaloa, Sri Lanka</span>
                            <h4 class="item-title">NATIONAL DIPLOMA IN INFORMATION COMMUNICATION TECHNOLOGY</h4>
                            <p>First Graduation(NVQ Level 5). 1 Year + 6 month training</p>
                        </div>

                        <div class="timeline-item clearfix">
                            <h5 class="item-period ">Jan 2015 - June 2015</h5>
                            <span class="item-company">Vocational Training Center, Kallady, Batticaloa, Sri Lanka</span>
                            <h4 class="item-title">NATIONAL CERTIFICATE IN INFORMATION COMMUNICATION TECHNOLOGY</h4>
                            <p>Course Title as ICT Technician(NVQ Level 4). 6 month + 6 month training</p>
                        </div>

                        <div class="timeline-item clearfix">
                            <h5 class="item-period ">Jan 2006 - Jan 2014</h5>
                            <span class="item-company">Kannankudah Maha Vidyalayam, Batticaloa, Sri Lanka</span>
                            <h4 class="item-title">Grade 6 - Advance Level</h4>
                            <p>Higher School</p>
                        </div>

                        <div class="timeline-item clearfix">
                            <h5 class="item-period ">Jan 2001 - Jan 2005</h5>
                            <span class="item-company">Mandapathady GTMS School, Batticaloa, Sri Lanka</span>
                            <h4 class="item-title">Grade 1 - Grade 5</h4>
                            <p>Pre School</p>
                        </div>

                    </div>
                    </div>

                    <div class=" col-xs-12 col-sm-6 ">
                    <div class="block-title">
                        <h2>Experience</h2>
                    </div>

                    <div id="timeline_2" class="timeline clearfix">
                        <div class="timeline-item clearfix">
                            <h5 class="item-period current">July 2021 - Present</h5>
                            <span class="item-company">HeroApps, Business Center, Dubai World Central, UAE</span>
                            <h4 class="item-title">SOFTWARE ENGINEER</h4>
                            <p>I'm working with full stack development like WEB, Mobile, IoT, etc..</p>
                        </div>

                        <div class="timeline-item clearfix">
                            <h5 class="item-period ">November 2020 - May 2021</h5>
                            <span class="item-company">Zonal Education Office Batticaloa West, Kurinchamunai, Batticaloa, Sri Lanka</span>
                            <h4 class="item-title">DEVELOPER TRACK TRAINEE</h4>
                            <p>I work with more technologies such as Laravel, Tailwind CSS, Livewire.</p>
                        </div>

                        <div class="timeline-item clearfix">
                            <h5 class="item-period ">March 2017 - April 2019</h5>
                            <span class="item-company">Balanita (pvt) Ltd, #273, 1/1, Galle Road, Mt.Lavinia, Sri Lanka</span>
                            <h4 class="item-title">WEB DEVELOPER (LARAVEL)</h4>
                            <p>In this work, I know diffrent technologies and frameworks. Like that Laravel, VueJs, and Bootstrap.</p>
                        </div>

                        <div class="timeline-item clearfix">
                            <h5 class="item-period ">July 2015 - Jan 2016</h5>
                            <span class="item-company">Zonal Education Office Batticaloa West, Kurinchamunai, Batticaloa, Sri Lanka</span>
                            <h4 class="item-title">DATA ENTRY OPERATOR TRAINEE</h4>
                            <p>I got experience on microsoft office package in this six month training. This training for ICT Technian Course completed by VTC Kallady.</p>
                        </div>
                    </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class=" col-xs-12 col-sm-12 ">
                    <div class="p-20"></div>

                    <div class="block-title">
                        <h2>Certificates</h2>
                    </div>
                    </div>
                </div>

                <div class="row">
                    <div class=" col-xs-12 col-sm-6 ">
                    <a href="https://via.placeholder.com/150" class="lightbox">
                        <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="https://via.placeholder.com/250" alt="logo">
                        </div>

                        <div class="certi-content">
                            <div class="certi-title">
                            <h4>Psyhology of Intertnation Design</h4>
                            </div>

                            <div class="certi-id">
                            <span>Membership ID: XXXX</span>
                            </div>
                            <div class="certi-date">
                            <span>19 April 2018</span>
                            </div>

                            <div class="certi-company">
                            <span></span>
                            </div>
                        </div>
                        </div>
                    </a>
                    </div>

                    <div class=" col-xs-12 col-sm-6 ">
                    <a href="https://via.placeholder.com/150" class="lightbox">
                        <div class="certificate-item clearfix">
                        <div class="certi-logo">
                            <img src="https://via.placeholder.com/250" alt="logo">
                        </div>

                        <div class="certi-content">
                            <div class="certi-title">
                            <h4>Psyhology of Intertnation Design</h4>
                            </div>

                            <div class="certi-id">
                            <span>Membership ID: XXXX</span>
                            </div>

                            <div class="certi-date">
                            <span>19 April 2018</span>
                            </div>

                            <div class="certi-company">
                            <span></span>
                            </div>
                        </div>
                        </div>
                    </a>
                    </div>

                </div>

                <div class="row">
                    <div class=" col-xs-12 col-sm-12 ">
                    <div class="p-40"></div>
                    </div>
                </div> -->

                <div class="row">
                    <div class=" col-xs-12 col-sm-6 ">
                    <div class="block-title">
                        <h2>Design Skills</h2>
                    </div>

                    <div id="skills_1" class="skills-info skills-first-style">
                        <!-- Skill 0 -->
                        <div class="clearfix">
                        <h4>Embeded System development (IoT)</h4>
                        <div class="skill-value">80%</div>
                        </div>
                        <div id="skill_4" data-value="80" class="skill-container">
                        <div class="skill-percentage"></div>
                        </div>
                        <!-- /Skill 0 -->

                        <!-- Skill 1 -->
                        <div class="clearfix">
                        <h4>UI/UX Design</h4>
                        <div class="skill-value">85%</div>
                        </div>

                        <div id="skill_1" data-value="85" class="skill-container">
                        <div class="skill-percentage"></div>
                        </div>
                        <!-- /Skill 1 -->
                        
                        <!-- Skill 2 -->
                        <div class="clearfix">
                        <h4>Print Design</h4>
                        <div class="skill-value">75%</div>
                        </div>
                        
                        <div id="skill_2" data-value="75" class="skill-container">
                        <div class="skill-percentage"></div>
                        </div>
                        <!-- /Skill 2 -->

                        <!-- Skill 3 -->
                        <div class="clearfix">
                        <h4>Graphic Design</h4>
                        <div class="skill-value">85%</div>
                        </div>
                        <div id="skill_3" data-value="85" class="skill-container">
                        <div class="skill-percentage"></div>
                        </div>
                        <!-- Skill 3 -->

                    </div>

                    </div>


                    <div class=" col-xs-12 col-sm-6 ">
                    <div class="block-title">
                        <h2>Coding Skills</h2>
                    </div>


                    <div id="skills_2" class="skills-info skills-first-style">
                        <!-- Skill 5 -->
                        <div class="clearfix">
                        <h4>HTML / CSS</h4>
                        <div class="skill-value">100%</div>
                        </div>
                        <div id="skill_5" data-value="100" class="skill-container">
                        <div class="skill-percentage"></div>
                        </div>
                        <!-- /Skill 5 -->

                        <!-- Skill 6 -->
                        <div class="clearfix">
                        <h4>PHP</h4>
                        <div class="skill-value">90%</div>
                        </div>
                        <div id="skill_6" data-value="90" class="skill-container">
                        <div class="skill-percentage"></div>
                        </div>
                        <!-- /Skill 6 -->

                        <!-- Skill 7 -->
                        <div class="clearfix">
                        <h4>JavaScript</h4>
                        <div class="skill-value">90%</div>
                        </div>
                        <div id="skill_7" data-value="90" class="skill-container">
                        <div class="skill-percentage"></div>
                        </div>
                        <!-- /Skill 7 -->

                        <!-- Skill 8 -->
                        <div class="clearfix">
                        <h4>Python</h4>
                        <div class="skill-value">65%</div>
                        </div>
                        <div id="skill_8" data-value="65" class="skill-container">
                        <div class="skill-percentage"></div>
                        </div>
                        <!-- /Skill 8 -->
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- /Footer -->
      
    </div>
</div>
