<div class="page-scroll">
  <div id="page_container" class="page-container bg-move-effect" data-animation="transition-flip-in-right">

    <!-- Header -->
    <menubar></menubar>
    <!-- /Header -->

    <div id="main" class="site-main">
      <div id="main-content" class="single-page-content">
        <div id="primary" class="content-area">    
          <div id="content" class="page-content site-content single-post" role="main">
            <!-- Home Page Top Part -->
            <div class="row">
              <div class=" col-xs-12 col-sm-12">
                <div class="home-content">
                  <div class="row flex-v-align">
                    
                    <div class="col-sm-12 col-md-5 col-lg-5">
                      <div class="home-photo">
                        <div class="hp-inner" style="background-image: url(./assets/img/main_photo.jpg);">
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-7 col-lg-7">
                      <div class="home-text hp-left">
                        <div class="owl-carousel text-rotation">                                    
                          <div class="item">
                            <h4>Software Engineer | Firmware Engineer | Web Engineer</h4>
                          </div>
                        </div>
                          
                        <h1>KATHEES KUMAR</h1>
                        <p>அனைத்தையும் சாத்தியமாக்கும் திறமையை மனிதனுக்கு கடவுள் தந்த போதிலும் பிறப்பு, இறப்பு போன்ற சிலவற்றை கடவுளின் கட்டுப்பாட்டில் வைத்து இருப்பது நன்மைக்கே... நம்மால் முடியுமான அனைத்தையும் சாத்தியமாக்க முயற்சித்துக்கொண்டே இருப்போம். முயற்சியும் பயிற்சியுமே மனிதனை பூரணத்துவமடைய வைக்கும்.</p><span> - கதீஸ்குமார்.</span>
                             
                        <div class="home-buttons">
                          <a href="./assets/docs/katheesh_cv_06_2021.pdf" target="_blank" class="btn btn-primary">Download CV</a>
                          <a routerLink="/contact" target="_self" class="btn btn-secondary">Contact</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Home Page Top Part -->

            <!-- Services -->
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <div class="p-50"></div>

                <div class="block-title">
                  <h2>What I Do</h2>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <div class="info-list-w-icon">
                  <div class="info-block-w-icon">
                    <div class="ci-icon">
                      <i class="linecons linecons-phone"></i>
                    </div>
                    <div class="ci-text">
                      <h4>Software Engineering</h4>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3">
                <div class="info-list-w-icon">
                  <div class="info-block-w-icon">
                    <div class="ci-icon">
                      <i class="linecons linecons-display"></i>
                    </div>
                    <div class="ci-text">
                      <h4>Web Engineering</h4>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 col-sm-3">
                <div class="info-list-w-icon">
                  <div class="info-block-w-icon">
                    <div class="ci-icon">
                      <i class="linecons linecons-shop"></i>
                    </div>
                    <div class="ci-text">
                      <h4>Mobile Development</h4>
                      <p></p>
                    </div> 
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3">
                <div class="info-list-w-icon">
                  <div class="info-block-w-icon">
                    <div class="ci-icon">
                      <i class="linecons linecons-megaphone"></i>
                    </div>
                    <div class="ci-text">
                      <h4>IoT Development</h4>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Services -->

            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <div class="p-20"></div>

                <!-- Testimonials -->
                <div class="block-title">
                  <h2>My loveable quatos</h2>
                </div>

                <div class="testimonials row">
                  <!-- Testimonial 1 -->
                  <div class="testimonial-item col-sm-4">
                    <!-- Testimonial Content -->
                    <div class="testimonial-content">
                      <!-- Picture -->
                      <div class="testimonial-picture">
                        <img src="./assets/img/testimonials/thiruvalluvar.png" alt="Thiruvalluvar"/>
                      </div>              
                      <!-- /Picture -->

                      <!-- Testimonial Text -->
                      <div class="testimonial-text">
                          <p>Efficiency consists in a resolute mind. Other things come thereafter.</p>
                      </div>
                      <!-- /Testimonial Text -->

                      <!-- Testimonial author information -->
                      <div class="testimonial-author-info">
                        <h5 class="testimonial-author">Thiruvalluvar</h5>
                        <p class="testimonial-firm">from Tamil Nadu</p>
                      </div>
                      <!-- /Testimonial author information -->

                      <div class="testimonial-icon">
                        <i class="fa fa-quote-left"></i>
                      </div>

                        <div class="testimonial-icon-big">
                        <i class="fa fa-quote-right"></i>
                      </div>
                    </div>
                    <!-- /Testimonial Content -->
                  </div>
                  <!-- End of Testimonial 1 -->

                  <!-- Testimonial 2 -->
                  <div class="testimonial-item col-sm-4">
                    <!-- Testimonial Content -->
                    <div class="testimonial-content">
                      <!-- Picture -->
                      <div class="testimonial-picture">
                        <img src="./assets/img/testimonials/thalaivar.jpeg" alt="Methaku"/>
                      </div>              
                      <!-- /Picture -->

                      <!-- Testimonial Text -->
                      <div class="testimonial-text">
                          <p>Nature is my friend; life is my philoso teacher; history is my guide;</p>
                      </div>
                      <!-- /Testimonial Text -->

                      <!-- Testimonial author information -->
                      <div class="testimonial-author-info">
                        <h5 class="testimonial-author">Tamil Thalaivan</h5>
                        <p class="testimonial-firm">From Eelam</p>
                      </div>
                      <!-- /Testimonial author information -->

                      <div class="testimonial-icon">
                        <i class="fa fa-quote-left"></i>
                      </div>

                        <div class="testimonial-icon-big">
                        <i class="fa fa-quote-right"></i>
                      </div>
                    </div>
                    <!-- /Testimonial Content -->
                  </div>
                  <!-- End of Testimonial 2 -->

                  <!-- End of Testimonial 3 -->
                  <div class="testimonial-item col-sm-4">

                    <!-- Testimonial Content -->
                    <div class="testimonial-content">
                      <!-- Picture -->
                      <div class="testimonial-picture">
                        <img src="./assets/img/testimonials/stevejobs.jpeg" alt="Steve Jobs"/>
                      </div>              
                      <!-- /Picture -->

                      <!-- Testimonial Text -->
                      <div class="testimonial-text">
                        <p>My jobs is to not be easy on people. My job is make them better</p>
                      </div>
                      <!-- /Testimonial Text -->

                      <!-- Testimonial author information -->
                      <div class="testimonial-author-info">
                        <h5 class="testimonial-author">Steve Jobs</h5>
                        <p class="testimonial-firm">From US</p>
                      </div>
                      <!-- /Testimonial author information -->

                      <div class="testimonial-icon">
                        <i class="fa fa-quote-left"></i>
                      </div>

                      <div class="testimonial-icon-big">
                        <i class="fa fa-quote-right"></i>
                      </div>
                    </div>
                    <!-- /Testimonial Content -->

                  </div>
                  <!-- End of Testimonial 3 -->
                </div> 
                <!-- /Testimonials -->

                <div class="p-40"></div>

                <!-- Clients Slider -->
                <div class="block-title">
                  <h2>Technologies</h2>
                </div>

                <div class="clients" style="display: flex; flex-wrap: wrap;">
                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech01.svg">
                    </a>
                  </div>

                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech02.svg">
                    </a>
                  </div>

                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech03.svg">
                    </a>
                  </div>

                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech04.svg">
                    </a>
                  </div>

                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech05.svg">
                    </a>
                  </div>

                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech06.svg">
                    </a>
                  </div>

                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech07.svg">
                    </a>
                  </div>

                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech08.svg">
                    </a>
                  </div>

                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech09.svg">
                    </a>
                  </div>

                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech10.svg">
                    </a>
                  </div>
                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech11.svg">
                    </a>
                  </div>
                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech12.svg">
                    </a>
                  </div>
                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech13.svg">
                    </a>
                  </div>
                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech14.svg">
                    </a>
                  </div>
                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech15.svg">
                    </a>
                  </div>
                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech16.svg">
                    </a>
                  </div>
                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech17.svg">
                    </a>
                  </div>
                  <div class="client-block">
                    <a href="#" target="_blank">
                      <img src="./assets/img/technologies/tech18.svg">
                    </a>
                  </div>
                </div>
                <!-- /Clients Slider -->

                <div class="p-40"></div>

              </div>
            </div>

            <!-- Fun Facts -->
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <div class="block-title">
                  <h2>Fun Facts</h2>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-3">
                <div class="lm-info-block gray-default">
                  <i class="linecons linecons-heart"></i>
                  <h4>Work experience years</h4>
                  <span class="lm-info-block-value">4.5</span>
                  <span class="lm-info-block-text"></span>
                </div>
              </div>

              <div class="col-xs-12 col-sm-3">
                <div class="lm-info-block gray-default">
                  <i class="linecons linecons-clock"></i>
                  <h4>Open Source Projects</h4>
                  <span class="lm-info-block-value">8 +</span>
                  <span class="lm-info-block-text"></span>
                </div>
              </div>

              <div class="col-xs-12 col-sm-3 ">
                <div class="lm-info-block gray-default">
                  <i class="linecons linecons-cup"></i>
                  <h4>Contributing Projects</h4>
                  <span class="lm-info-block-value">25 +</span>
                  <span class="lm-info-block-text"></span>
                </div>
              </div>

              <div class="col-xs-12 col-sm-3 ">
                <div class="lm-info-block gray-default">
                  <i class="linecons linecons-star"></i>
                  <h4>Awards Won</h4>
                  <span class="lm-info-block-value">3</span>
                  <span class="lm-info-block-text"></span>
                </div>
              </div>
            </div>
            <!-- /Fun Facts -->

            <div class="p-40"></div>

            <!-- Pricing -->
            <div class="row">
              <div class=" col-xs-12 col-sm-12 ">
                <div class="block-title">
                  <h2>ABOUT ME</h2>
                </div>
              </div>

            </div>

            <div class="row">
              <div class=" col-xs-12 col-sm-12 ">
                <div class="fw-pricing clearfix row">
                  
                  <div class="fw-package-wrap col-md-4 ">
                    <div class="fw-package">
                      <div class="fw-heading-row">
                        <span>1 +</span>
                      </div>
                      
                      <div class="fw-button-row">
                        <a href="#" target="_self" class="btn btn-primary">Learning</a>
                      </div>

                      <div class="fw-default-row">I love to computer program and have done so for approximately 8,760 hours over the past four years. I’m great at knowing the right algorithm for a problem because I read computer science literature constantly. I like Algorithms based problems. I love working with people to do things bigger than I could accomplish alone.</div> 
                    </div>
                  </div>

                  <div class="fw-package-wrap col-md-4">
                    <div class="fw-package">
                      <div class="fw-heading-row">
                        <span>2 +</span>
                      </div>

                      <div class="fw-button-row">
                        <a href="#" target="_self" class="btn btn-primary">Interesting</a>
                      </div>
                      
                      <div class="fw-default-row"> I’m motivated by big problems, and I think you’ve got some here that I can help solve. I liked computer games as a kid, and wanted to make my own. I heard computers are a good career too, so I went to college in Information Technology. Once I was there I realized writing operating systems was what I like the best.</div> 
                  </div>
                </div>

                <div class="fw-package-wrap col-md-4 default-col ">
                  <div class="fw-package">
                    <div class="fw-heading-row">
                      <span>3 +</span>
                    </div>
                    
                    <div class="fw-button-row">
                      <a href="#" target="_self" class="btn btn-primary">What next</a>
                    </div>
                    
                    <div class="fw-default-row">I like the challenge of it, and working close to the hardware. I do my best work in very complicated systems, because I’m good at keeping track of many details and making few mistakes. I want to do this sort of work moving forward, especially as long as I get to work on something lots of people will use!</div> 
                </div>
              </div>
            </div>
            <!-- /Pricing -->
          </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- /Footer -->
    
  </div>
</div>
